.galeria {
    display: grid;
    gap: 10px;
    background-color: black;
  }
  
  .grid-columns-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .grid-columns-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  
  .galeria .foto {
    cursor: pointer;
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 200px;
    background-size: cover;
    background-position: center;
    color: rgb(81, 205, 62);
    text-align: left;
    text-shadow: 0px 0px 15px black;
  }
  
  .galeria .foto:hover {
    box-shadow: 0px 0px 2px 1px black;
  }
  
  .galeria .foto svg {
    align-self: flex-end;
  }
  
  .p-3 {
    padding: 30px;
  }
.img-cart{
  width: 100px;
  height: 100px;
}
.details{
  background-color: rgb(212, 59, 59);
  margin:10px;
}
.carro{
  align-items: center;
  justify-content: center;
  margin: 40px;
  background-color:rgb(212, 59, 59);
}
.card-carro{
  display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(212, 59, 59);
    color: white;
    
}
.gallery{
  margin: 80px;
}